.hero-banner{
    background-image: url("https://wallpaperaccess.com/full/464209.jpg");
    background-size: cover;
    height: 300px;
    background-position:center;
    background-repeat: no-repeat;
}

.navbar-custom {
    background-color: #053742;
}

.navbar-brand {
    color:#E8F0F2;
}

.btn-brand {
    background-color: #39A2DB;
    color:#E8F0F2;
}

.btn-danger {
    background-color: #053742;
    color:#E8F0F2;
}

.btn-secondary {
    color:#E8F0F2;
}

body {
    background-color:#E8F0F2;
    color:#053742;
}

.card{
    background-color:#A2DBFA;
    color:#053742;
}

.modal-content{
    background-color:#A2DBFA;
    color:#053742;
}
